*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

ul{
    margin-bottom: 0rem;
    margin-bottom: 0rem;
}

li{
    margin-bottom: 0em;
}
/* Components */

body{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: #333333;
    font-size: 14px;
}

button{
    padding: 0.2em 0.5em;
    text-decoration: none;
    border: 1px solid #bbbbbb;
}
button:hover{
    background-color: #bbbbbb;
}

/* Header */
header{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

nav{
    height: 40px;
    width: 100vw;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    width: 100vw;
    list-style-type: none;
    display: flex;
}

nav li{
    display: block;
    text-align: center;
    align-items: center;
    align-self: center;
    height: 100%;
    flex: 1;
}

nav a {
    display: inline-block;
    text-decoration: none;
    align-self: center;
    color: black;
}

/* Footer */

footer{
    display: block;
    border: 1px solid black;
    text-align: center;
    position: static;
    width: 100vw;
    bottom: 0;
}

footer p{
    font-size: 8px;
    margin: 1%;
    font-weight: bolder;
}

footer a{
    margin: 2%;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 1%;
    border: 0.5px solid black;
    background-color: rgb(230, 227, 227);
}

/* Filters */
main{
    padding: 1em;
}

.filter_clicker{
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter_clicker h4{
    margin-bottom: 0px;
    padding-left: 1em;
}

.seta-baixo{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 11px solid black;
  }

.seta-cima {
    content: "";
    display: none;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid black;
}

#filters{
    display: none;
}

.table{
    display: block;
    flex-direction: column;
    align-items: center;
    align-self: center;
}


.query ul *{
    margin-bottom: 0px;
}

.query{
    margin: 0.5em;
    border: 1px solid #999999;
    border-radius: 5px;
}

.query ul{
    padding: 0;
    display: block;
}

.query li{
    padding: 2%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}

.query label{
    margin-right: 0.5em;
    display: flex;
    align-items: center;
}
.query input{
    margin-right: 1em;
}

#cresc{
    margin-right:1em;
}

/* Table */

table {
    border-top: 0px;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  
  table th {
    text-align: left;
  }
  
  tbody tr:nth-child(odd) {
    background-color: rgb(160, 160, 160);
  }
  
  tbody {
    border-top: 2px solid rgb(77, 77, 77);
    border-bottom: 2px solid rgb(77, 77, 77);
  }
  
  tbody tr {
    padding: 1em;  
  }
/* End of Dashboard's page */

/* Begin of Config's page */

.config_nav{
    border: 1px solid black;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 4%;
    height: 6vh;
    width: 95vw;
    display: flex; 
    align-self: center;
}
.config_nav h3{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Database config */
.db_config{
    display: block; /* hide and unhide (block ; none)*/
    align-self: center;
    width: 100%;
    border: 1px solid black; 
}

.db_config ul{
    margin-top: 1.2em;
    width: 100%;
    display: block;
}
.db_config li{
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    justify-content: center;
}

.db_config button{
    width: 80%;
}

#db_nav{
    background-color: grey;
    border-top-left-radius: 10px;
}

.db_config input{
    width: 50%;
}

.db_config p{
    margin-top: 3%;
    margin-bottom: 3%;
}

.db_config button{
    margin-bottom: 3%;
    height: 35px;
    text-align: center;
}

.db_config label{
    font-size: 18px;
    margin-bottom: 3%;
}

/* Wi-fi config */
.wifi_config{
    display: none; /* hide and unhide (block ; none)*/
    align-self: center;
    width: 100%;
    border: 1px solid black; 
}

.wifi_config ul{
    padding-top: 1em;
    width: 100%;
    display: block;
    justify-content: center;
}

.wifi_config button{
    align-self: center;
    margin-bottom: 3%;
    height: 35px;
}

.wifi_config li{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wifi_config label{
    font-size: 18px;
    margin-bottom: 3%;
}

/* End of Config's page */