*{
    margin: 0;
    padding: 0;
}
/* Header */
header, nav {
    background-color: grey;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

nav{
    height: 40px;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    width: 100vw;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li{
    text-align: center;
    align-items: center;
    flex: 1;
}

nav a {
    display: inline-block;
    text-decoration: none;
    align-self: center;
    color: black;
}


/* Filters */
main{
    display: flex;
    flex-direction: column;
}

.query, .table{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    align-self: center;
    width: 94vw;
}

.query{
    margin-top: 5%;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.query h2,.table h2{
    padding-bottom:5% ;
}

.query ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.query li{
    padding: 2%;
    display: flex;
}

.query label{
    margin-right: 1vw;
    display: flex;
    align-items: center;
}

#cresc{
    margin-right:5vw;
}

/* Table */

table {
    border-top: 0px;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 10px;
  }
  
  table th {
    text-align: left;
  }
  
  tbody tr:nth-child(odd) {
    background-color: rgb(160, 160, 160);
  }
  
  tbody {
    border-top: 2px solid rgb(77, 77, 77);
    border-bottom: 2px solid rgb(77, 77, 77);
  }
  
  tbody tr {
    padding: 1em;  
  }
/* End of Dashboard's page */

/* Begin of Config's page */

.config_nav{
    border: 1px solid black;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 4%;
    height: 6vh;
    width: 95vw;
    display: flex; 
    align-self: center;
}
.config_nav h3{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Database config */
.db_config{
    align-self: center;
    display: flex; /* hide and unhide (flex ; none)*/
    flex-direction: column;
    width: 95vw;
    border: 1px solid black;
    
}

#db_nav{
    background-color: grey;
    border-top-left-radius: 10px;
}

.db_config input{
    width: 50%;
}

.db_config p{
    margin-top: 3%;
    margin-bottom: 3%;
}

.db_config button{
    align-self: center;
    margin-bottom: 3%;
    width: 95vw;
    height: 35px;
}

/* Wi-fi config */
.wifi_config{
    padding-top: 3%;
    width: 95vw;
    align-self: center;
    display: none; /* hide and unhide (flex ; none)*/
    flex-direction: column;
    border: 1px solid black;
}

.wifi_config button{
    align-self: center;
    margin-bottom: 3%;
    width: 95vw;
    height: 35px;
}

.wifi_config label{
    font-size: 18px;
    margin-bottom: 3%;
}

/* End of Config's page */